* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --animate-delay: 0.4s;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.header {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 10;
}
.header .container {
  display: flex;
  justify-content: space-between;
}
.header .logo img {
  width: 80px;
}
.header .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.header .navbar .link a {
  text-decoration: none;
  padding-right: 50px;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
}
.header .navbar .link a:hover {
  color: #b61984;
}
.header .navbar .phone {
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  overflow: hidden;
  display: flex;
  background: #b61984;
  padding: 15px 20px;
  border-radius: 50px;
}
.header .navbar .phone::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  transform: scale(0.8, 0.1);
  transition: all 300ms ease;
}
.header .navbar .phone:hover {
  outline-style: solid;
  outline-color: #b61984;
  outline-width: 1px;
}
.header .navbar .phone:hover::after {
  transform: scale(1, 1);
  background-color: #fff;
}
.header .navbar .phone:hover a {
  color: #b61984;
  position: relative;
  z-index: 10;
}
.header .navbar .phone:hover .image {
  color: #b61984;
  position: relative;
  z-index: 10;
}
.header .navbar .phone .image {
  padding-right: 7px;
  color: #fff;
  font-size: 12px;
}
.header .navbar .phone a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}
.header .navbar .contact a {
  text-decoration: none;
  margin-left: 10px;
  color: #000000;
  font-size: 12px;
}
.header .navbar .contact a i {
  transition: all 0.5s;
}
.header .navbar .contact a:hover i {
  color: #b61984;
}

.scrolling-header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 10;
}
.scrolling-header .container {
  justify-content: flex-end;
}
.scrolling-header .container .logo {
  display: none;
}
.scrolling-header .container .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.scrolling-header .container .navbar .link a {
  text-decoration: none;
  padding-right: 50px;
  font-weight: 600;
  color: #000000;
  font-size: 12px;
}
.scrolling-header .container .navbar .link a:hover {
  color: #b61984;
}
.scrolling-header .container .navbar .phone {
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  overflow: hidden;
  display: flex;
  background: #b61984;
  padding: 15px 20px;
  border-radius: 50px;
}
.scrolling-header .container .navbar .phone::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  transform: scale(0.8, 0.1);
  transition: all 300ms ease;
}
.scrolling-header .container .navbar .phone:hover {
  outline-style: solid;
  outline-color: #b61984;
  outline-width: 1px;
}
.scrolling-header .container .navbar .phone:hover::after {
  transform: scale(1, 1);
  background-color: #fff;
}
.scrolling-header .container .navbar .phone:hover a {
  color: #b61984;
  position: relative;
  z-index: 10;
}
.scrolling-header .container .navbar .phone:hover .image {
  color: #b61984;
  position: relative;
  z-index: 10;
}
.scrolling-header .container .navbar .phone .image {
  padding-right: 7px;
  color: #fff;
  font-size: 12px;
}
.scrolling-header .container .navbar .phone a {
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}
.scrolling-header .container .navbar .contact a {
  text-decoration: none;
  margin-left: 10px;
  color: #000000;
  font-size: 12px;
}
.scrolling-header .container .navbar .contact a i {
  transition: all 0.5s;
}
.scrolling-header .container .navbar .contact a:hover i {
  color: #b61984;
}

.carousel {
  position: relative;
  height: 710px;
  background: url(../../images/yellow_top_wave_01.png), url(../../images/Violet_top_left_wave.png);
  background-size: contain;
  background-repeat: no-repeat, no-repeat;
  background-position: top, bottom;
}
.carousel .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel .container .content-left h2 {
  color: #b61984;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}
.carousel .container .content-left h1 {
  font-size: 60px;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .carousel .container .content-left h1 {
    font-size: 36px;
  }
}
.Teachers {
  background-color: #dcd1f3;
  background-image: url(../../images/Wave_White_bottom_right_shape_01.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 820px;
}
.Teachers .container .row-up {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Teachers .container .row-up .col {
  width: 25%;
}
.Teachers .container .row-up .col .tech-0 {
  animation: fadeIn 0.5s;
}
.Teachers .container .row-up .col .tech-1 {
  animation: fadeIn 1s;
}
.Teachers .container .row-up .col .tech-2 {
  animation: fadeIn 1.5s;
}
.Teachers .container .row-up .col .tech-3 {
  animation: fadeIn 2s;
}
.Teachers .container .row-up .col .tech-4 {
  animation: fadeIn 2.5s;
}
.Teachers .container .row-up .col .item {
  overflow: hidden;
  padding: 40px 20px;
}
.Teachers .container .row-up .col .item:hover .cover {
  box-shadow: 0px 20px 20px rgba(136, 131, 131, 0.3);
}
.Teachers .container .row-up .col .item:hover .text {
  box-shadow: 0px 20px 20px rgba(136, 131, 131, 0.3);
}
.Teachers .container .row-up .col .item .cover {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s;
}
.Teachers .container .row-up .col .item .cover:hover .image {
  transform: scale(1.1, 1.1);
}
.Teachers .container .row-up .col .item .cover .image {
  border-radius: 10px 10px 0 0;
  transition: all 1s;
}
.Teachers .container .row-up .col .item .cover .image img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s;
}
.Teachers .container .row-up .col .item .text {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s;
}
.Teachers .container .row-up .col .item .text h3 {
  color: #b61984;
  text-align: center;
  font-size: 12px;
  padding: 30px 0 8px 0;
  font-weight: 600;
}
.Teachers .container .row-up .col .item .text h2 {
  text-align: center;
}
.Teachers .container .row-up .col .item .text p {
  text-align: center;
  font-size: 14px;
  padding: 15px 30px 35px 30px;
  line-height: 30px;
}
.Teachers .container .row-down {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Teachers .container .row-down .col {
  width: 25%;
}
.Teachers .container .row-down .col .tech-0 {
  animation: fadeIn 0.5s;
}
.Teachers .container .row-down .col .tech-1 {
  animation: fadeIn 1s;
}
.Teachers .container .row-down .col .tech-2 {
  animation: fadeIn 1.5s;
}
.Teachers .container .row-down .col .tech-3 {
  animation: fadeIn 2s;
}
.Teachers .container .row-down .col .tech-4 {
  animation: fadeIn 2.5s;
}
.Teachers .container .row-down .col .item {
  overflow: hidden;
  padding: 0 20px 40px 20px;
}
.Teachers .container .row-down .col .item:hover .cover {
  box-shadow: 0px 20px 20px rgba(136, 131, 131, 0.3);
}
.Teachers .container .row-down .col .item:hover .text {
  box-shadow: 0px 20px 20px rgba(136, 131, 131, 0.3);
}
.Teachers .container .row-down .col .item .cover {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s;
}
.Teachers .container .row-down .col .item .cover:hover .image {
  transform: scale(1.1, 1.1);
}
.Teachers .container .row-down .col .item .cover .image {
  border-radius: 10px 10px 0 0;
  transition: all 1s;
}
.Teachers .container .row-down .col .item .cover .image img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s;
}
.Teachers .container .row-down .col .item .text {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  transition: all 0.3s;
}
.Teachers .container .row-down .col .item .text h3 {
  color: #b61984;
  text-align: center;
  font-size: 12px;
  padding: 30px 0 8px 0;
  font-weight: 600;
}
.Teachers .container .row-down .col .item .text h2 {
  text-align: center;
}
.Teachers .container .row-down .col .item .text p {
  text-align: center;
  font-size: 14px;
  padding: 15px 30px 35px 30px;
  line-height: 30px;
}

.course {
  background-image: url(../../images/accent_bottom_wave_01.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.course .container .inner {
  padding-top: 60px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
}
.course .container .inner .content-left .image {
  padding: 0 40px;
  margin-top: 40px;
}
@media screen and (max-width: 1200px) {
  .course .container .inner {
    transform: translateX(-55px);
  }
}
.course .container .inner .content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.course .container .inner .content-right .cover {
  width: 394px;
  box-shadow: 0px 20px 20px rgba(136, 131, 131, 0.3);
  padding-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
}
.course .container .inner .content-right .cover h2 {
  font-size: 36px;
  display: block;
  padding-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.course .container .inner .content-right .cover .form {
  padding: 0 25px;
}
.course .container .inner .content-right .cover .form form .info {
  display: flex;
  padding-bottom: 15px;
}
.course .container .inner .content-right .cover .form form .info .user {
  position: relative;
  margin-right: 20px;
  width: 50%;
}
.course .container .inner .content-right .cover .form form .info .user i {
  position: absolute;
  top: 14px;
  left: 16px;
  color: #b61984;
  font-size: 14px;
}
.course .container .inner .content-right .cover .form form .info .user .name {
  border-radius: 50px;
  padding: 12px 12px 12px 42px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.course .container .inner .content-right .cover .form form .info .user .name:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.course .container .inner .content-right .cover .form form .info .mailto {
  position: relative;
  width: 50%;
}
.course .container .inner .content-right .cover .form form .info .mailto i {
  position: absolute;
  top: 14px;
  left: 16px;
  color: #b61984;
  font-size: 14px;
}
.course .container .inner .content-right .cover .form form .info .mailto .email {
  padding: 12px 12px 12px 42px;
  border-radius: 50px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.course .container .inner .content-right .cover .form form .info .mailto .email:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.course .container .inner .content-right .cover .form form .btnSelect {
  position: relative;
  padding-bottom: 15px;
}
.course .container .inner .content-right .cover .form form .btnSelect i {
  position: absolute;
  top: 12px;
  left: 14px;
  color: #b61984;
  font-size: 14px;
}
.course .container .inner .content-right .cover .form form .btnSelect .choose {
  display: block;
  width: 100%;
  border-radius: 50px;
  padding: 8px 8px 8px 35px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.course .container .inner .content-right .cover .form form .btnSelect .choose:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.course .container .inner .content-right .cover .form form .btnMessage {
  padding-bottom: 15px;
  position: relative;
}
.course .container .inner .content-right .cover .form form .btnMessage i {
  position: absolute;
  top: 18px;
  left: 18px;
  color: #b61984;
  font-size: 14px;
}
.course .container .inner .content-right .cover .form form .btnMessage textarea {
  display: block;
  border-radius: 20px;
  width: 100%;
  height: 90px;
  line-height: 22px;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.course .container .inner .content-right .cover .form form .btnMessage textarea:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
.course .container .inner .content-right .cover .form form button {
  border-radius: 50px;
  padding: 15px 50px;
  margin-bottom: 24px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #b61984;
  border: none;
  transition: all 300ms ease;
  position: relative;
  overflow: hidden;
}
.course .container .inner .content-right .cover .form form button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  transform: scale(0.8, 0.1);
  transition: all 300ms ease;
}
.course .container .inner .content-right .cover .form form button:hover {
  outline-style: solid;
  outline-color: #b61984;
  outline-width: 1px;
}
.course .container .inner .content-right .cover .form form button:hover span {
  color: #b61984;
  position: relative;
  z-index: 10;
  font-weight: 600;
}
.course .container .inner .content-right .cover .form form button:hover::after {
  transform: scale(1, 1);
  background-color: #fff;
}

.footer {
  background-image: url(../../images/footer_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}
.footer .container .info {
  display: flex;
  justify-content: space-between;
  padding: 120px 0;
}
.footer .container .info .contact {
  animation: fadeIn;
  animation-duration: 1s;
}
.footer .container .info .contact h2 {
  color: #fff;
  margin-bottom: 30px;
}
.footer .container .info .contact .location {
  margin-bottom: 15px;
}
.footer .container .info .contact .location i {
  color: #fff;
}
.footer .container .info .contact .location span {
  color: #fff;
  font-size: 14px;
  padding-left: 11px;
}
.footer .container .info .contact .contact-phone {
  margin-bottom: 15px;
}
.footer .container .info .contact .contact-phone i {
  color: #fff;
}
.footer .container .info .contact .contact-phone span {
  color: #fff;
  font-size: 14px;
  padding-left: 11px;
}
.footer .container .info .contact .contact-time {
  margin-bottom: 15px;
}
.footer .container .info .contact .contact-time i {
  color: #fff;
}
.footer .container .info .contact .contact-time span {
  color: #fff;
  font-size: 14px;
  padding-left: 11px;
}
.footer .container .info .contact .social-media a {
  text-decoration: none;
}
.footer .container .info .contact .social-media a:hover i {
  color: #000000;
}
.footer .container .info .contact .social-media a i {
  color: #fff;
  margin-right: 15px;
  transition: all 0.5s;
}
.footer .container .info .link {
  width: 239px;
  animation: fadeIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .footer .container .info .link {
    margin-bottom: 100px;
  }
}
.footer .container .info .link h2 {
  color: #fff;
  margin-bottom: 30px;
}
.footer .container .info .link .pages {
  margin-top: -12px;
}
.footer .container .info .link .pages p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}
.footer .container .info .link .pages p a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.5s;
}
.footer .container .info .link .pages p a:hover {
  opacity: 0.8;
}
.footer .container .info .about {
  width: 239px;
  animation: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .footer .container .info .about {
    width: 40% !important;
  }
}
.footer .container .info .about h2 {
  color: #fff;
  margin-bottom: 30px;
}
.footer .container .info .about .about-link {
  margin-top: -12px;
}
.footer .container .info .about .about-link p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}
.footer .container .info .about .about-link p a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.5s;
}
.footer .container .info .about .about-link p a:hover {
  opacity: 0.8;
}
.footer .container .info .newsletter {
  width: 239px;
  animation: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.footer .container .info .newsletter h2 {
  color: #fff;
  margin-bottom: 45px;
}
.footer .container .info .newsletter .your-email {
  margin-bottom: 8px;
}
.footer .container .info .newsletter .your-email input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 50px;
  width: 100%;
  background-color: #aa017e;
  transition: all 500ms;
}
.footer .container .info .newsletter .your-email input:focus {
  border: 1px solid #fff;
  outline: none;
}
.footer .container .info .newsletter .your-email input::placeholder {
  text-align: center;
  color: #fff;
}
.footer .container .info .newsletter .subscribe button {
  box-shadow: 0 0 0 3em #fff inset;
  color: #181818;
  padding: 15px;
  border-radius: 50px;
  width: 100%;
  cursor: pointer;
  border: none;
  position: relative;
  font-weight: 600;
}
.footer .container .info .newsletter .subscribe button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50px;
  transform: scale(0.8, 0.1);
  transition: all 300ms ease;
}
.footer .container .info .newsletter .subscribe button:hover {
  outline-style: solid;
  outline-color: #fff;
  outline-width: 1px;
}
.footer .container .info .newsletter .subscribe button:hover span {
  color: #fff;
  position: relative;
  z-index: 10;
  font-weight: 600;
}
.footer .container .info .newsletter .subscribe button:hover::after {
  transform: scale(1, 1);
  background-color: #aa017e;
}

@media screen and (max-width: 1200px) {
  * .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .header {
    height: 48px;
    background-color: #fff;
  }
  .header .container {
    height: 100%;
    max-width: 1000px;
  }
  .header .container .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header .container .logo .bar {
    margin-right: 11px;
  }
  .header .container .logo .bar i {
    font-size: 30px;
    cursor: pointer;
  }
  .header .container .logo img {
    height: 100%;
    width: 48px;
  }
  .header .container .navbar {
    display: none;
  }

  .scrolling-header .container {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 992px) {
  * .container {
    max-width: 700px;
    margin: auto;
  }

  .header {
    height: 48px;
    background-color: #fff;
  }
  .header .container {
    height: 100%;
    max-width: 700px;
  }
  .header .container .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .header .container .logo .bar {
    margin-right: 11px;
  }
  .header .container .logo .bar i {
    font-size: 30px;
    cursor: pointer;
  }
  .header .container .logo img {
    height: 100%;
    width: 48px;
  }
  .header .container .navbar {
    display: none;
  }

  .scrolling-header .container {
    justify-content: flex-start;
  }

  .carousel {
    height: 795px;
    padding-top: 90px;
  }
  .carousel .container {
    display: block;
  }

  .Teachers {
    height: 100%;
  }
  .Teachers .container .row-up {
    flex-wrap: wrap;
  }
  .Teachers .container .row-up .col {
    width: 50%;
  }
  .Teachers .container .row-down {
    flex-wrap: wrap;
  }
  .Teachers .container .row-down .col {
    width: 50%;
  }

  .course .container .inner {
    display: block;
  }
  .course .container .inner .content-left {
    width: 100%;
  }
  .course .container .inner .content-right {
    width: 81%;
  }
  .course .container .inner .content-right .cover {
    width: 100%;
  }

  .footer {
    height: 100%;
  }
  .footer .container .info {
    flex-wrap: wrap;
    padding: 120px 0 200px 0;
  }
  .footer .container .info .contact {
    width: 50%;
  }
  .footer .container .info .link {
    width: 50%;
  }
  .footer .container .info .about {
    width: 50%;
  }
  .footer .container .info .newsletter {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  * .container {
    max-width: 600px;
    margin: auto;
  }

  .header {
    height: 48px;
    background-color: #fff;
  }
  .header .container {
    height: 100%;
    max-width: 600px;
  }

  .course .container .inner {
    display: block;
  }
  .course .container .inner .content-left {
    width: 100%;
  }
  .course .container .inner .content-right {
    width: 70%;
  }
  .course .container .inner .content-right .cover {
    width: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}