// Color text
$c1-text-primary: #000000;
$c2-text-white: #fff;
$c3-text-pink: #b61984;

// background- color
$c1-bg-primary: #b61984;
$c2-bg-white: #fff;
$c3-bg-purple: #dcd1f3;
$c4-bg-pink:#aa017e;
// Font-size:
$text-small: 12px;

$text-smaller: 14px;

$text-medium: 18px;

$text-x-medium: 30px;

$text-large: 36px;

$text-x-large: 60px;

//font-weight
$text-thin: 300;
$text-light: 500;
$text-semiBold: 600;
$text-bold: 700;
$text-xBold: 800;

// box shadow
$bs-1:0px 20px 20px rgba(136, 131, 131, 0.3);
$bs-2: 0 0 4px 0 rgb(0 0 0 / 10%);
