* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

  }
  :root {
    --animate-delay: 0.4s;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1160px;
  }